<!-- FILEPATH: /Users/tclaughridge/Documents/GitHub/team-kentucky/kentuckyhealth/app/templates/app/index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Team Kentucky</title>
    <!-- Load Static -->
    {% load static %}

    <!-- Load Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    
    <!-- Include CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/base.css' %}">
</head>

<body>
    {% include 'app/navbar.html' %}

    <!-- Search -->
    <div class="search-group py-5 mx-auto h-25">
        <div class="container">
            <h1 class="text-center display-4 mb-2">Directory Search</h1>
            <h5 class="text-center mb-5">Find Providers, Facilities, Services, and More</h5>
            <form class="search-class" method="GET" action="{% url 'app:search' %}">
                <div class="input-group search w-50 mx-auto">
                    <span class="input-group-text search-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </span>
                    <input type="text" class="form-control main-search"
                        placeholder="Search by name, speciality, or location" aria-label="Search"
                        aria-describedby="search-addon" name="query"/>
                    <button type="submit" class="btn search-btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Columns -->
    <div class="container">
        <div class="row gx-5 mt-5">
            <!-- Filters -->
            <div class="col-3 border-end">
                <form class="search-class" method="GET" action="{% url 'app:filter' %}">
                    <div class="d-flex justify-content-between mb-3">
                        <h1 class="display-6">Filters</h1>
                        <div class="pt-2">
                            <button class="btn btn-outline-primary search-btn" onclick="resetForm()" type="button">Reset All</button>
                            <button class="btn btn-primary search-btn ml-2 search-class" type="submit" name="search">Apply</button>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="accordion accordion-flush" id="filterAccordion">
                        <!-- Location filter -->
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseLocation" aria-expanded="true" aria-controls="collapseLocation">
                                    Location
                                </button>
                            </h2>
                            <div id="collapseLocation" class="accordion-collapse collapse show">
                                <div class="accordion-body">
                                    <div class="mb-3">
                                        <label for="locationInput" class="form-label">Location</label>
                                        <input type="text" class="form-control" placeholder="Enter city, county, or zip" id="locationInput" name="location">
                                    </div>
                                    <div class="mb-3">
                                        <label for="radiusInput" class="form-label">Radius</label>
                                        <input type="range" class="form-range" min="0" max="10" value="5" id="radiusInput" aria-describedby="radiusHelp" name="radius">
                                        <div class="row">
                                            <div class="col">
                                                <div id="radiusHelp" class="form-text">0 mi.</div>
                                            </div>
                                            <div class="col">
                                                <div id="radiusHelp" class="form-text text-end">10 mi.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <input type="checkbox"  class="form-check-input" id="currentInput" name="use_current_location">
                                        <label class="form-check-label" for="currentInput">Use Current Location</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Specialty Filter -->
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSpecialty" aria-expanded="true" aria-controls="collapseSpecialty">
                                    Services
                                </button>
                            </h2>
                            <div id="collapseSpecialty" class="accordion-collapse">
                                <div class="accordion-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="Internal Medicine" name="service_type" id="internalMedicine">
                                        <label class="form-check-label" for="internalMedicine">Internal Medicine</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="Family & Marriage Services" name="service_type" id="familyServices">
                                        <label class="form-check-label" for="familyServices">Family & Marriage Services</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="Psychiatrist" name="service_type" id="psychiatrist">
                                        <label class="form-check-label" for="psychiatrist">Psychiatrist</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="Behavioral Analyst" name="service_type" id="behavioralAnalyst">
                                        <label class="form-check-label" for="behavioralAnalyst">Behavioral Analyst</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="Clinical Counselor" name="service_type" id="clinicalCounselor">
                                        <label class="form-check-label" for="clinicalCounselor">Clinical Counselor</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="Suicide Prevention" name="service_type" id="suicidePrevention">
                                        <label class="form-check-label" for="suicidePrevention">Suicide Prevention</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="Nursing Facilities" name="service_type" id="nursingFacilities">
                                        <label class="form-check-label" for="nursingFacilities">Nursing Facilities</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="Intermediate Care" name="service_type" id="intermediateCare">
                                        <label class="form-check-label" for="intermediateCare">Intermediate Care Facility</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="Crisis Stabilization" name="service_type" id="crisisStabilization">
                                        <label class="form-check-label" for="crisisStabilization">Crisis Stabilization</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="Psychiatric Treatment" name="service_type" id="psychiatricTreatment">
                                        <label class="form-check-label" for="psychiatricTreatment">Psychiatric Treatment</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Health Plan Filter -->
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsePlan" aria-expanded="true" aria-controls="collapsePlan">
                                    Health Plan
                                </button>
                            </h2>
                            <div id="collapsePlan" class="accordion-collapse">
                                <div class="accordion-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="Aetna Better Health" name="health_plan" id="aetna">
                                        <label class="form-check-label" for="aetna">Aetna Better Health</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="Humana Health Plan" name="health_plan" id="humana">
                                        <label class="form-check-label" for="humana">Humana Health Plan</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="Anthem BlueCross/BlueShield" name="health_plan" id="anthem">
                                        <label class="form-check-label" for="anthem">Anthem BlueCross/BlueShield</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="WellCare of Kentucky" name="health_plan" id="wellcare">
                                        <label class="form-check-label" for="wellcare">WellCare of Kentucky</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseLanguages" aria-expanded="true" aria-controls="collapseLanguages">
                                    Languages Spoken
                                </button>
                            </h2>
                            <div id="collapseLanguages" class="accordion-collapse">
                                <div class="accordion-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="English" name="languages_spoken" id="english">
                                        <label class="form-check-label" for="english">English</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="Spanish" name="languages_spoken" id="spanish">
                                        <label class="form-check-label" for="spanish">Spanish</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="Mandarin" name="languages_spoken" id="mandarin">
                                        <label class="form-check-label" for="mandarin">Mandarin</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="French" name="languages_spoken" id="french">
                                        <label class="form-check-label" for="french">French</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  value="German" name="languages_spoken" id="german">
                                        <label class="form-check-label" for="german">German</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Emergency Services Filter -->
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEmergency" aria-expanded="true" aria-controls="collapseEmergency">
                                    Emergency Services
                                </button>
                            </h2>
                            <div id="collapseEmergency" class="accordion-collapse">
                                <div class="accordion-body">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" name="emergency_services" id="emergency" checked>
                                        <label class="form-check-label" for="emergency" id="emergencyLabel">Yes</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
            <!-- Results -->
            <div class="col-9">
                <h1 class="display-6">Results</h1>
                <hr class="my-4"></hr>
                {% if data %}
                    {% include 'app/providers.html' %}
                {% else %}
                    <p class="text-center lead">Search or filter to begin finding providers.</p>
                {% endif %}
            </div>
        </div>
    </div>
    
    {% include 'app/footer.html' %}

    <script>
        function resetForm() {
            var text = document.getElementById('locationInput');
            var radius = document.getElementById('radiusInput');
            var checkboxes = document.querySelectorAll('.form-check-input');

            text.value = '';
            radius.value = 5;

            checkboxes.forEach(function (checkbox) {
                checkbox.checked = false;
            });
            saveFilterState();

            window.location.href = "{% url 'app:index' %}";
        }

        var checkbox = document.getElementById('emergency');
        var label = document.getElementById('emergencyLabel');
        checkbox.addEventListener('change', function () {
            label.textContent = checkbox.checked ? 'Yes' : 'No';
        });

        var checkbox = document.getElementById('currentInput');
        checkbox.addEventListener('change', function () {
            if (checkbox.checked) {
                document.getElementById('locationInput').disabled = true;
                document.getElementById('locationInput').value = 'Louisville';
                document.getElementById('radiusInput').disabled = true;
            } else {
                document.getElementById('locationInput').disabled = false;
                document.getElementById('locationInput').value = '';
                document.getElementById('radiusInput').disabled = false;
            }
        });



        // PERSIST FILTERS
        function saveFilterState() {
            // Get all checkboxes
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');

            // Create an object to store filter state
            const filterState = {};

            checkboxes.forEach((checkbox) => {
                filterState[checkbox.id] = checkbox.checked;
            });

            // Save the filter state to localStorage
            localStorage.setItem('filterState', JSON.stringify(filterState));
        }

        // Attach the saveFilterState function to the change event of checkboxes
        document.addEventListener('change', function (event) {
            if (event.target.type === 'checkbox') {
                saveFilterState();
            }
        });

        // Function to restore filter state from localStorage
        function restoreFilterState() {
            // Get the filter state from localStorage
            const savedFilterState = localStorage.getItem('filterState');

            // If there's saved state, apply it to checkboxes
            if (savedFilterState) {
                const filterState = JSON.parse(savedFilterState);

                for (const id in filterState) {
                    const checkbox = document.getElementById(id);

                    if (checkbox) {
                        checkbox.checked = filterState[id];
                    }
                }
            }
        }

        // Call the restoreFilterState function when the page loads
        document.addEventListener('DOMContentLoaded', restoreFilterState);
    </script>
</body>

</html>
