/* FORMATTING */

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif !important;
}

.btn-primary {
    background-color: #013561;
    border-color: #013561;
}

.btn-primary:hover {
    background-color: #004b8c;
    border-color: #004b8c;
}

.btn-outline-primary {
    color: #013561 !important;
    border-color: #013561 !important;
}

.btn-outline-primary:hover {
    color: white !important;
    background-color: #013d71 !important;
    border-color: #013d71 !important;
}