/* PROVIDER CARDS */
.card {
    width: 47%;
    height: 20vh !important;
    display: inline-block !important;
}

.rounded {
    border-radius: 20px !important;
}

.card-body {
    justify-content: center;
    height: 100%;
}

.text-sm {
    font-size: 0.9rem;
}

.btn {
    border-radius: 20px !important; 
    display: inline-block !important;
}